<%- include("header"); -%>

    <form class="signup-form" action="/" method="get">
        <h1>Failed to Subscribe</h1>
        <a href="/">Try again</a>
    </form>

    <%- include("footer"); -%>