<%- include("header"); -%>

    <form class="signup-form" action="/" method="post">
        <h1>Subscribe to our newsletter</h1>
        <input type="email" name="email" placeholder="Email Address" />
        <input type="submit" name="send" value="Subcribe">
    </form>

<%- include("footer"); -%>